*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border-radius: 0.5rem;
    gap: 10px;
}

html{
    overflow-y: scroll;
}

/* UTILITY CLASSES */

.container{
    max-width: 360px;
    margin: 0 auto;
    padding: 0 20px;
}

.display-flex{
    display: flex;
}

.space-around{
    justify-content: space-around;
}

.align-center{
    align-items: center;
}

.height-100{
    height: 100%;
}

.width-100{
    width: 100%;
}

.flex-direction{
    flex-direction: column;
}

.flex-wrap{
    flex-wrap: wrap;
}

.bg-violet{
    background-color: rgb(190, 73, 190);
}

.bg-dark{
    background-color: rgb(23, 24, 41)
}

.text-center{
    text-align: center;
}

.col{
    width: calc(100% - 20px);
    height: 15rem;
    border: 3px solid red;
    background-color: turquoise;
    margin: 1rem 0;
}

/* ALL TAGS CLASSES */

ul {
    list-style-type: none;
}

li {
    margin: 0 1rem;
}

/* HEADER CLASSES */

header {
    background-color: rgb(62, 62, 214);
    height: 5rem;
    width: 100%;
    z-index: 1;
    position: fixed;
    border-radius: 0;
}

#header-menu{
    display: none;
}

#menu-logo{
    display: inline;
}

/* MAIN CLASSES */

main {
    padding-top: 5rem;
}

/* FOOTER CLASSES */
footer div{
    border-radius: 0;
}

/* RESPONSIVENESS */

@media screen and (min-width: 769px) {
    .container{
        max-width: 720px;
    }

    .col{
        width: calc(50% - 20px);
    }

    .flex-direction{
        flex-direction: row;
    }

    #header-menu{
        display: flex;
    }
    
    #menu-logo{
        display: none;
    }
}