*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border-radius: 0.5rem;
    gap: 10px;
}

/* UTILITY CLASSES */

.container{
    max-width: 360px;
    margin: 0 auto;
    padding: 0 20px;
    border-radius: 0;
}

.display-flex{
    display: flex;
}

.space-around{
    justify-content: space-around;
}

.align-center{
    align-items: center;
}

.height-100{
    height: 100%;
}

.width-100{
    width: 100%;
}

.flex-direction{
    flex-direction: column;
}

.flex-wrap{
    flex-wrap: wrap;
}

.bg-violet{
    background-color: rgb(190, 73, 190);
}

.bg-dark{
    background-color: rgb(23, 24, 41)
}

.text-center{
    text-align: center;
}

.col{
    width: calc(100% - 20px);
    background-color: rgb(122, 171, 204);
    margin: 1rem 0;
}

/* ALL TAGS CLASSES */

ul {
    list-style-type: none;
}

li {
    margin: 0 1rem;
}

/* HEADER CLASSES */

header {
    background-color: rgb(122, 122, 204);
    height: 5rem;
    width: 100%;
    z-index: 1;
    position: fixed;
    border-radius: 0;
}

#header-menu{
    display: none;
}

#menu-logo{
    display: inline;
}

/* MAIN CLASSES */

main {
    padding-top: 5rem;
}

main img{
    max-width: 100%;
}

/* FOOTER CLASSES */
footer div{
    border-radius: 0;
}

/* RESPONSIVENESS */

/* TABLET */

@media screen and (min-width: 961px) {
    .container{
        max-width: 720px;
    }

    #nameless-section > div > .col{
        width: calc(100% / 3 - 10px);
    }

    #nameless-section > div > .col:first-of-type{
        width: calc((100% / 3) * 2 - 10px);
        display: flex;
        flex-wrap: wrap;
    }

    #nameless-section > div > .col:first-of-type > .content{
        width: 100%;
    }

    #nameless-section > div > .col:first-of-type > .image-container{
        width: 50%;
    }

    .flex-direction{
        flex-direction: row;
    }

    #header-menu{
        display: flex;
    }
    
    #menu-logo{
        display: none;
    }
}

/* DESKTOP */

@media screen and (min-width: 1281px) {
    .container{
        max-width: 1120px;
    }

    #nameless-section > div > .col{
        width: calc(100% / 3 - 10px);
    }

    #nameless-section > div > .col:first-of-type{
        width: calc((100% / 3) * 2 - 10px);
        display: flex;
    }

    #nameless-section > div > .col:first-of-type > .content{
        width: 40%;
    }

    #nameless-section > div > .col:first-of-type > .image-container{
        width: 50%;
    }

    .flex-direction{
        flex-direction: row;
    }

    #header-menu{
        display: flex;
    }
    
    #menu-logo{
        display: none;
    }
}
